.svg {
    background-image: url('../svg/user.png');
    background-size: 100%;
    cursor: pointer;
    margin: 4px;
    width: 28px;
    height: 28px;
    transition: 0.5s;
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    place-items: center;
    border-radius: 20px;
    height: 100%;
    width: 0%;
    transition: 0.5s;
    background-color: rgba(24, 128, 168, 0.5);
    font-size: 8px;
}

.menu-active {
    display: flex;
    width: 60%;
}

@media (min-width: 720px) {
    .menu-container {
        height: 0%;
        width: 100%;
    }

    .menu-active {
        display: flex;
        height: 25%;
    }
}

.menu-container button {
    place-self: end;
}


.menu-actions {
    opacity: 75%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 8px;
}

.menu-actions input {
    position: fixed;
    opacity: 0;
    cursor: pointer;
}

.menu-actions label {
    cursor: pointer;
}

.menu-actions input:checked+label {
    text-decoration: underline;
}

.menu-container button {
    align-self: flex-end;
    background: none;
    border: none;
}

@media (min-width:720px) {
}