.navbar {
    display: flex;
    border-radius: 35px;
    width: 100vw;
    background-color: #A5BECC;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    height: 24px;
}

.navbar:hover {
    transition: 0.5s;
    background-color: #AAC4FF;
    height: 48px;
}

.navbar span {
    background-image: url('../svg/user.png');
    background-size: 100%;
    cursor: pointer;
    margin: 4px;
    width: 28px;
    height: 28px;
    transition: 0.5s;
}

@media (min-width:720px) {
    .navbar span:hover {
        width: 50px;
        height: 50px;
        opacity: 50%;
    }
}

.navbar ul {
    display: flex;
    margin: 4px;
    padding: 0;
}

.navbar ul li {
    margin: 8px;
    list-style: none;
}

.navbar ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


.navbar ul li a {
    color: white;
    transition: all 0.3s ease 0s;
}

.navbar ul li a:hover {
    color: #363062;
}