#horoscope {
    place-content: center;
}
.horoscope-result {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
}
#horoscope select,
#horoscope button {
    margin-right: 5px;
    width: 10rem;
    height: 50px;
    text-align: center;
    font-size: 20px;
}
.description {
    width: 300px;
}