.palette-color {
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.palette-color:hover {
    transition: 1s;
    opacity: 50%;
}

.palette-color span {
    display: none;
    text-align: center;
}

.palette-color span p {
    -webkit-text-stroke: 2px #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.palette-color:hover span {
    display: block;
}