.home {
    color: black;
}

.home ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 24px;
}

@media only screen and (max-width: 900px) {

    /* For mobile phones: */
    .home {
        text-align: center;
    }
    .home ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
}
.home ul li a {
    text-decoration: none;
    opacity: 50%;
    color: #fff;
    border-radius: 8px;
    transition: .5s;
}

.home ul li a:hover {
    transition: 1s;
    color: #000;
    opacity: 110%;
    background-color: #fff;
}
