.dropdown {
  display: block;
  margin-right: 100px;
}

.dropbtn {
  cursor: pointer;
  min-width: 100px;
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  min-width: 100px;
  display: none;
  position: absolute;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color: white;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  transition: 500ms;
  filter: brightness(50%);
}
