.navbar {
    display: flex;
    border-radius: 35px;
    width: 100vw;
    background-color: #A5BECC;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    height: 24px;
}

.navbar:hover {
    transition: 0.5s;
    background-color: #AAC4FF;
    height: 48px;
}

.navbar:hover ul {
    display: flex;
}

.navbar ul {
    margin: 4px;
    padding: 0;
}

.navbar ul:hover li {
    display: flex;
}

.navbar ul li {
    margin: 8px;
    list-style: none;
    display: none;
}

.navbar ul:hover::after,
.navbar ul:hover::before {
    content: "";
}

.navbar ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


.navbar ul li a {
    color: white;
    transition: all 0.3s ease 0s;
}

.navbar ul li a:hover {
    color: #363062;
}

.sections::after {
    content: "SECTIONS";
}