@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  color: white;
}
:root {
  font-size: 16px;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(-45deg, #fff, #000, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
