.palette {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.palette-colors {
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(4, 16vw);
    grid-template-rows: repeat(2, 20vh);
}

.palette-submit {
    place-self: end;
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin: 16px;
    border: none;
    font-size: 20px;
}

.palette-submit:hover {
    cursor: pointer;
}